body {
    display: flex;
    max-width: 1536px; /* Maximum width for larger screens */
    width: 90%; /* Responsive width */
    margin: 0 auto; /* Center the container */
    justify-content: center;
}

#panel-sidenav {
    width: 30%; /* Adjust the width as needed */
    border-right: 1px solid #ccc; /* Separator between panels */
    padding: 10px;
    max-width: 320px; /* Maximum width for larger screens */
}

#header {
    text-align: center; /* Center the content in the header */
    padding: 10px;
}

#logo {
    /* height: 50px; Adjust the size as needed */
    width: 50%;
}

#slogan {
    font-size: 24px; /* Adjust the font size as needed */
    color: #333; /* Adjust the color as needed */
    margin-top: 10px; /* Space between logo and slogan */
}

#panel-contents {
    width: 70%; /* Adjust the width as needed */
    padding: 10px;
    max-width: 768px; /* Maximum width for larger screens */
    margin-bottom: 48px;  /* space for copyright footer */
}

.button-container {
    text-align: center; /* Center buttons horizontally */
    margin: 15px 0; /* Add some vertical spacing around the button container */
}

#editor-container {
    max-width: 768px; /* Maximum width for larger screens */
    width: 90%; /* Responsive width */
    margin: 0 auto; /* Center the container */
    padding: 15px; /* Optional: adds some padding inside the container */
    box-sizing: border-box; /* Include padding in the width calculation */
}

/* General Editor Section Styles */
.editor-section {
    position: relative;
    margin-bottom: 20px;
    box-sizing: border-box; /* Include padding and border in the width calculation */
}

.code-section {
    display: flex;
}

/* Text Editor Styles (Quill) */
.text-editor {
    height: auto;
    min-height: 50px;
    border: 1px solid transparent;
    background-color: white;
    /* Ensure consistent padding and margin with code editor */
    padding: 10px; /* Match with code editor's padding */
    font-size: medium;
}

.text-editor:focus-within {
    border: 1px solid #ccc;
    background-color: #f8f8f2;
}

.ql-bubble .ql-tooltip {
    z-index: 100000;  /* big enough to avoid overlap */
}

.ql-bubble .ql-tooltip button {
    width: 24px;
}

/* Code Editor Styles */
.code-editor {
    width: 100%;
    /* height: auto; */
    min-height: 50px;
    border: 1px solid #ccc;
    border-radius: 3px 0 0 3px;
    resize: vertical;
    /* overflow: auto; */
    font-family: monospace;
    padding: 10px; /* Ensure padding matches text editor */
    margin: 0; /* Remove default margins */
    box-sizing: border-box;
}

/* Evaluation Result Styles */
.eval-result {
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    padding: 10px;
    margin-top: 5px;
    white-space: pre-wrap;
}

/* Buttons Container */
.section-buttons.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

/* Hide section buttons by default */
.section-buttons {
    display: none;
}

/* Show section buttons when editor-section is hovered */
.editor-section:hover .section-buttons {
    display: block;
}

/* Button Styles */
.add-button, .load-button, .save-button, .remove-button {
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.add-button, .remove-button {
    padding: 5px 10px;
    background-color: #28a7456b;
}

.load-button, .save-button {
    padding: 10px 20px;
    background-color: #007bff;
}

/* Remove Button Style */
.remove-button {
    background-color: #dc354575;
}

.run-button {
    background-color: #eee;
    color: white;
    border: none;
    border-radius: 0 3px 3px 0;
    font-size: 16px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

#reposUrl {
    display: block;
    width: 90%;
}
#repos-file-tree .directory {
    font-weight: bold;
    cursor: pointer;
    color: blue;
}

#repos-file-tree .file {
    color: black;
}

#repos-file-tree .item {
    margin-bottom: 5px;
}

#repos-file-tree .sub-directory {
    margin-left: 20px;
}

#repos-file-tree {
    position: relative;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1; /* Ensure it appears above other content */
    /* Adjust positioning as needed */
    max-height: 720px;
    overflow: scroll;
}

#repos-file-tree ul {
    list-style: none;
    padding-left: 20px;
}
#repos-file-tree ul.repos-list {
    padding-left: 0;
}

/* Style the folder icons for collapse/expand */
.folder-icon, .file-icon {
    width: 16px; /* Set the width of the icon */
    height: 16px; /* Set the height of the icon */
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    margin-right: 10px; /* Add some spacing between the icon and text */
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    text-decoration: none;
}

/* Style the folder icon for closed folders */
.folder-icon::before {
    content: '\1F4C1';
    margin-right: 10px;
}

/* Style the folder icon for opened folders */
.folder-open .folder-icon::before {
    content: '\1F4C2';
}

/* Style the file icon (customize as needed) */
.file-icon::before {
    content: '\1F4C4'; /* Unicode character for file icon (customize as needed) */
    margin-right: 10px;
}

/* Style to hide or show subdirectories */
.hidden {
    display: none;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px 0;
    font-size: 0.8em;
}
